.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
    max-width: 20em;
    margin: 20px auto;
}

.Q {
    font-size: 2rem;
}

.hint {
    margin: .5em 0;
    height: 1em;
    line-height: normal;
}
.hint:not(:hover):not(:active):not(:empty) {
    color: transparent;
    background: gray;
    opacity: .25;
}

#typeans {
    font-size: 1em;
    line-height: normal;
    width: 100%;
    -webkit-text-security: disc;
    text-security: disc;
}

#typeans.correct {
    background: #afa;
}
#typeans.wrong {
    background: #faa;
}